.logo {
  user-select: none;
  margin-bottom: 0;
  font-style: italic;
  letter-spacing: 0.03em;
  color: var(--h1-color);
}

.nav {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
  background-color: var(--nav-background-color);
  box-shadow: 0 1px 0 var(--nav-border-color);
}

.aboutText {
  color: var(--h1-color);
}
