.content {
  height: 70vh;

  video {
    width: 800px;
  }

  @media (max-width: 450px) {
    video {
      width: 400px;
    }
  }
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  button {
    width: 100px;
  }
}

.buttonGroupForLandScape {
  position: fixed;
  top: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: calc(100% - 112px);

  button {
    width: 100px;
  }
}
